---
layout: default
---

<div class="page-wrapper">
  <header class="page-header">
    <h1>{{ site.title }}</h1>
  </header>

  <div class="page-filter">
    <select id="filter">
      {% for option in site.data.index.selector %}
      <option value="{{ option.value }}">{{ option.name }}</option>
      {% endfor %}
    </select>
  </div>

  <main id="steps" class="page-content {{ site.data.index.selector[0].value }}">
    {% for id in site.data.index.sections %}
    <section class="step">
      <header>
        <h2>{{ site.data[id].title }}</h2>
      </header>

      <div class="step-content">
        <p class="step-feedback">
          For comments, corrections, etc, 
          <a href="https://github.com/oscarotero/server-style-guide/issues">create an issue</a>
          or <a href="https://github.com/oscarotero/server-style-guide/edit/gh-pages/_data/{{ id }}.yml">edit on Github</a>
        </p>

        <ul>
          {% for step in site.data[id].steps %}
          <li class="{{ step.class }}">
            <h3>{{ step.title }}</h3>

            <div>
              {{ step.code | markdownify }}
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </section>
    {% endfor %}
  </main>

  {% include footer.html %}
</div>

<script type="text/javascript">
  var filter = document.getElementById('filter');
  var steps = document.getElementById('steps');

  filter.addEventListener('change', function () {
    steps.className = 'page-content ' + this.value;
  });

  Array.prototype.forEach.call(steps.querySelectorAll('h2'), function (element) {
    element.addEventListener('click', function () {
      this.parentNode.parentNode.classList.toggle('is-opened');
    });
  });

  Array.prototype.forEach.call(steps.querySelectorAll('.is-optional > h3'), function (element) {
    element.addEventListener('click', function () {
      this.parentNode.classList.toggle('is-opened');
    });
  });
</script>
