/**
 * Reset some basic elements
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: $gray;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: 'kern' 1;
    -moz-font-feature-settings: 'kern' 1;
    -o-font-feature-settings: 'kern' 1;
    font-feature-settings: 'kern' 1;
    font-kerning: normal;
    overflow-y: scroll;
}

a {
    color: $blue;
    text-decoration: none;

    &:visited {
        color: $blue-dark;
    }

    &:hover {
        color: black;
        text-decoration: underline;
    }
}

pre,
code {
    font-size: 1rem;
    line-height: 1.4;
    border-radius: 3px;
}

code {
    padding: 2px 5px;
    background: $gray-light;
}

pre {
    color: $gray-light;
    background-color: $black;
    padding: 1rem;
    overflow-x: auto;
    margin: 0.5rem 0;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
        background: none;
    }
}
