<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="page-wrapper">
      <header class="page-header">
        <h1>{{ site.title }}</h1>
        <p>{{ page.config }}</p>
      </header>

      <form class="page-filter" id="options">
        <label>
            Insert here your domain:
            <input type="text" id="domain" name="domain" value="example.com" pattern="([\w-]+\.)?[\w-]+\.[\w]+" title="Domain used in the examples">
        </label>
        <button type="submit">Show me</button>
      </form>

      <main class="page-content">
        {% for section in page.sections %}
        <details class="step" id="step-{{ forloop.index }}">
          <summary>
            {{ section.title }}
          </summary>

          <div class="step-content">
            <p class="step-feedback">
              For comments, corrections, etc, 
              <a href="https://github.com/oscarotero/server-style-guide/issues">create an issue</a>
              or <a href="https://github.com/oscarotero/server-style-guide/edit/gh-pages/{{ page.path }}">edit on Github</a>
            </p>

            <ul>
              {% for step in section.steps %}
              <li class="{{ step.class }}">
                {% if step.optional %}
                <details>
                    <summary>{{ step.title }}</summary>

                    <div>
                      {{ step.code | markdownify }}
                    </div>
                </details>
                {% else %}
                <h3>{{ step.title }}</h3>

                <div>
                  {{ step.code | markdownify }}
                </div>
                {% endif %}
              </li>
              {% endfor %}
            </ul>
          </div>
        </details>
        {% endfor %}
      </main>

      {% include footer.html %}
    </div>

    <script type="text/javascript" src="{{ 'scripts.js' | absolute_url }}" defer></script>
  </body>
</html>
